[tool.poetry]
name = "aws-dynamodb-parallel-scan"
version = "0.2.1"
description = "Amazon DynamoDB Parallel Scan Paginator for boto3."
authors = ["Sami Jaktholm <sjakthol@outlook.com>"]
license = "MIT"
packages = [
  {include = "aws_dynamodb_parallel_scan.py"},
  {include = "py.typed"}
]
readme = 'README.md'
repository = "https://github.com/sjakthol/python-aws-dynamodb-parallel-scan"

[tool.poetry.scripts]
aws-dynamodb-parallel-scan = 'aws_dynamodb_parallel_scan:cli'


[tool.poetry.dependencies]
boto3 = "^1.18.43"
python = "^3.7"

[tool.poetry.dev-dependencies]
bandit = "^1.7.0"
black = "^21.10b0"
boto3-stubs = {extras = ["dynamodb"], version = "^1.20.5"}
more-itertools = "^8.11.0"
mypy = "^0.910"
pylint = "^2.11.1"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
safety = "^1.10.3"
tox = "^3.24.4"
moto = {extras = ["dynamodb2"], version = "^2.2.15"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
