name: Python package

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v5
      - name: Install the project
        env:
          UV_PYTHON: ${{ matrix.python-version }}
        run: uv sync --all-extras --dev
      - name: Lint and test
        env:
          UV_PYTHON: ${{ matrix.python-version }}
        run: make -k lint test
